/* Fonts */

@font-face {
    font-family: Lato-Black;
    src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: Lato-Thin;
    src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Lato-Semibold;
    src: url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

/* Universal styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    max-width: 100%;
    min-height: 100%;
    height: 1200px;
}

/* General styling */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 50px 4fr 60px;
    height: 100%;
}

/* Header styling */

header {
    background-color: #603f97;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-left {
    z-index: 1;
}

.header-right {
    z-index: 0;
}

.header-lines {
    width: 250px;
    text-align: left;
    border: 1px solid white;
    margin: 10px 0;
    position: relative;
    right: 20px;
}

.profile-photo {
    height: 200px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
}

.header-name {
    color: #3fbeb6;
    font-family: Lato-Bold;
    font-weight: 600;
    letter-spacing: 1.75px;
    padding: 0 10px;
}

header h1 {
    color: white;
    font-family: Lato-Black;
    font-size: 3rem;
    letter-spacing: 1.75px;
    padding: 0 10px;
}

/* Links section styling */
.links {
    background-color: #361555;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links ul {
    display: flex;
    list-style: none;
}

.links li {
    margin: 0 5px;
    padding: 10px;
    color: white;
    font-family: Lato-Bold;
    letter-spacing: 1.15px;
}

.links li:hover {
    background-color: #3FBEB6;
    cursor: pointer;
}

/* Main section styling */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main div {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main p {
    text-align: center;
    font-family: Lato-Regular;
    font-size: 1.5rem;
    padding-top: 20px;
    color: grey;
}

h2 {
    font-size: 1.75rem;
    font-family: Lato-Bold;
    color: rgb(80, 80, 80);
    letter-spacing: 1.5px;
}

#home h2 {
    font-family: Lato-Black;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 900;
    background-color: #361555;
    color: white;
    padding: 10px 20px;
    border-radius: 20px 20px 10px 10px;
}

/* Footer styling */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    grid-area: 4;
}

footer h6 {
    color: white;
    font-family: Lato-Thin;
    font-size: 0.95rem;
}

.footer-name {
    font-family: Lato-Semibold;
}